<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
    <form action="/countries" method="get">
      <label for="task_name">Search</label>
      <input type="text" id="name_of_country" name="name_of_country" />

      <input type="submit" />
    </form>

    <% @country_names.each do |name| %>
      <a href="/countries/<%= name %>"><%= name %></a><br>
    <% end %>
  </body>
</html>
