<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
    <h2><%= @country_data["Country"] %></h2>
    <p><%= @country_data["Currency"] %></p>
    <p><%= @country_data["Capital"] %></p>
  </body>
</html>
